@layer common, base, components, utilities;

@layer common {
  * {
    margin: 0;
    padding: 0;
  }
  @font-face {
    font-family: "04b";
    src: url("/src/font/04b.ttf");
  }
  @font-face {
    font-family: "04bf";
    src: url("/src/font/04bf.woff");
  }
  @font-face {
    font-family: "mother";
    src: url("/src/font/mother.ttf");
  }
  @font-face {
    font-family: "3x3";
    src: url("/src/font/3x3.ttf");
  }
  body,
  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    cursor: default !important;
    -webkit-user-drag: none !important;
    -webkit-touch-callout: none !important;
    -webkit-overflow-scrolling: touch !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    -webkit-user-drag: none !important;
  }
  :where(body),
  :where(html) {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    cursor: default !important;
    -webkit-user-drag: none !important;
    -webkit-touch-callout: none !important;
    -webkit-overflow-scrolling: touch !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    -webkit-user-drag: none !important;
  }
  a,
  a:visited {
    color: #f5e8d1;
  }
  /*Common-open*/
  body {
    font-size: 16px;
    color: #f5e8d1;
    font-family: "04b";
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  :root {
    --profile-1: #F5E8D1;
    --profile-2: #636366; 
    --profile-3: #555048;
    --profile-4: #3A3A3C;
    --profile-5: #2C2C2E;
    --profile-6: #1D1B18;
    --profile-bg: #0A0908;
    --profile-o: rgba(10, 10, 10, 0);
    --profile-black: #000000;
    --profile-orange: #DD5639;
    --profile-cyan: #20A5A6;
    --profile-cream: #F5E8D1;
  }
}
@layer base {
  .container-gird {
    display: grid;    
    grid-template-rows: auto 50px 60px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  } 
  .gap-1 {
    gap: 1px
  }
  .gap-8 {
    gap: 8px
  }
   .gap-20 {
    gap: 20px
  }
  .st {
    background: url("data:image/svg+xml,%3Csvg width='1' height='1' viewBox='0 0 1 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.333333 0.333333H0.666667V0.666667H0.333333V0.333333Z' fill='%230A0908'/%3E%3Cpath d='M0.666667 0H1V0.333333H0.666667V0Z' fill='%230A0908'/%3E%3Cpath d='M0 0.666667H0.333333V1H0V0.666667Z' fill='%230A0908'/%3E%3C/svg%3E%0A");
    outline: 1px solid var(--profile-6);
  }
}
@layer page-1 {
  .page01 {
    display: none;
  }
/* layer list */
  .p01-list {
    font-family: "3x3";
    font-size: 8px;
    color: var(--profile-1);
    display: grid; 
    grid-template-areas: "rom";
    grid-template-rows: repeat(12, 40px);
    text-align: left;
    transform: rotate(180deg);
    align-content: start;
    gap:1px;
  }
  .p01-list rom {
    display: grid; 
    grid-template-areas: "name more ";
    grid-template-columns: auto 40px;
    transform: rotate(180deg);
  }
  .p01-list name {
    grid-area: name;
    padding: 17px;

  }
  .p01-list more {
    grid-area: more;

  }
/* layer cta */
  .p01-cta {
    display: grid; 
    grid-template-areas: "logo setting vertical upload";
    grid-template-columns: auto 50px 50px 90px;
  }
  .p01-cta logo::after { 
    background: url("data:image/svg+xml,%3Csvg width='144' height='50' viewBox='0 0 144 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50.64 31C50.416 31 50.304 31 50.2184 30.9564C50.1431 30.9181 50.0819 30.8569 50.0436 30.7816C50 30.696 50 30.584 50 30.36V27H53.36C53.584 27 53.696 27 53.7816 27.0436C53.8569 27.0819 53.9181 27.1431 53.9564 27.2184C54 27.304 54 27.416 54 27.64V30.36C54 30.584 54 30.696 53.9564 30.7816C53.9181 30.8569 53.8569 30.9181 53.7816 30.9564C53.696 31 53.584 31 53.36 31H50.64ZM42.64 31C42.416 31 42.304 31 42.2184 30.9564C42.1431 30.9181 42.0819 30.8569 42.0436 30.7816C42 30.696 42 30.584 42 30.36V19.64C42 19.416 42 19.304 42.0436 19.2184C42.0819 19.1431 42.1431 19.0819 42.2184 19.0436C42.304 19 42.416 19 42.64 19H45.36C45.584 19 45.696 19 45.7816 19.0436C45.8569 19.0819 45.9181 19.1431 45.9564 19.2184C46 19.304 46 19.416 46 19.64V22.36C46 22.584 46 22.696 46.0436 22.7816C46.0819 22.8569 46.1431 22.9181 46.2184 22.9564C46.304 23 46.416 23 46.64 23H50V27H46.64C46.416 27 46.304 27 46.2184 27.0436C46.1431 27.0819 46.0819 27.1431 46.0436 27.2184C46 27.304 46 27.416 46 27.64V30.36C46 30.584 46 30.696 45.9564 30.7816C45.9181 30.8569 45.8569 30.9181 45.7816 30.9564C45.696 31 45.584 31 45.36 31H42.64ZM50 23V19.64C50 19.416 50 19.304 50.0436 19.2184C50.0819 19.1431 50.1431 19.0819 50.2184 19.0436C50.304 19 50.416 19 50.64 19H53.36C53.584 19 53.696 19 53.7816 19.0436C53.8569 19.0819 53.9181 19.1431 53.9564 19.2184C54 19.304 54 19.416 54 19.64V22.36C54 22.584 54 22.696 53.9564 22.7816C53.9181 22.8569 53.8569 22.9181 53.7816 22.9564C53.696 23 53.584 23 53.36 23H50Z' fill='%23F5E8D1'/%3E%3Cpath d='M58.64 31C58.416 31 58.304 31 58.2184 30.9564C58.1431 30.9181 58.0819 30.8569 58.0436 30.7816C58 30.696 58 30.584 58 30.36V23.64C58 23.416 58 23.304 58.0436 23.2184C58.0819 23.1431 58.1431 23.0819 58.2184 23.0436C58.304 23 58.416 23 58.64 23H61.36C61.584 23 61.696 23 61.7816 22.9564C61.8569 22.9181 61.9181 22.8569 61.9564 22.7816C62 22.696 62 22.584 62 22.36V19.64C62 19.416 62 19.304 62.0436 19.2184C62.0819 19.1431 62.1431 19.0819 62.2184 19.0436C62.304 19 62.416 19 62.64 19H65.36C65.584 19 65.696 19 65.7816 19.0436C65.8569 19.0819 65.9181 19.1431 65.9564 19.2184C66 19.304 66 19.416 66 19.64V22.36C66 22.584 66 22.696 66.0436 22.7816C66.0819 22.8569 66.1431 22.9181 66.2184 22.9564C66.304 23 66.416 23 66.64 23H69.36C69.584 23 69.696 23 69.7816 23.0436C69.8569 23.0819 69.9181 23.1431 69.9564 23.2184C70 23.304 70 23.416 70 23.64V30.36C70 30.584 70 30.696 69.9564 30.7816C69.9181 30.8569 69.8569 30.9181 69.7816 30.9564C69.696 31 69.584 31 69.36 31H66.64C66.416 31 66.304 31 66.2184 30.9564C66.1431 30.9181 66.0819 30.8569 66.0436 30.7816C66 30.696 66 30.584 66 30.36V27.64C66 27.416 66 27.304 65.9564 27.2184C65.9181 27.1431 65.8569 27.0819 65.7816 27.0436C65.696 27 65.584 27 65.36 27H62.64C62.416 27 62.304 27 62.2184 27.0436C62.1431 27.0819 62.0819 27.1431 62.0436 27.2184C62 27.304 62 27.416 62 27.64V30.36C62 30.584 62 30.696 61.9564 30.7816C61.9181 30.8569 61.8569 30.9181 61.7816 30.9564C61.696 31 61.584 31 61.36 31H58.64Z' fill='%2320A5A6'/%3E%3Cpath d='M74.64 31C74.416 31 74.304 31 74.2184 30.9564C74.1431 30.9181 74.0819 30.8569 74.0436 30.7816C74 30.696 74 30.584 74 30.36V19.64C74 19.416 74 19.304 74.0436 19.2184C74.0819 19.1431 74.1431 19.0819 74.2184 19.0436C74.304 19 74.416 19 74.64 19H81.36C81.584 19 81.696 19 81.7816 19.0436C81.8569 19.0819 81.9181 19.1431 81.9564 19.2184C82 19.304 82 19.416 82 19.64V22.36C82 22.584 82 22.696 82.0436 22.7816C82.0819 22.8569 82.1431 22.9181 82.2184 22.9564C82.304 23 82.416 23 82.64 23H85.36C85.584 23 85.696 23 85.7816 23.0436C85.8569 23.0819 85.9181 23.1431 85.9564 23.2184C86 23.304 86 23.416 86 23.64V30.36C86 30.584 86 30.696 85.9564 30.7816C85.9181 30.8569 85.8569 30.9181 85.7816 30.9564C85.696 31 85.584 31 85.36 31H74.64Z' fill='%23F5E8D1'/%3E%3Cpath d='M90.64 31C90.416 31 90.304 31 90.2184 30.9564C90.1431 30.9181 90.0819 30.8569 90.0436 30.7816C90 30.696 90 30.584 90 30.36V19.64C90 19.416 90 19.304 90.0436 19.2184C90.0819 19.1431 90.1431 19.0819 90.2184 19.0436C90.304 19 90.416 19 90.64 19H93.36C93.584 19 93.696 19 93.7816 19.0436C93.8569 19.0819 93.9181 19.1431 93.9564 19.2184C94 19.304 94 19.416 94 19.64V26.36C94 26.584 94 26.696 94.0436 26.7816C94.0819 26.8569 94.1431 26.9181 94.2184 26.9564C94.304 27 94.416 27 94.64 27H97.36C97.584 27 97.696 27 97.7816 26.9564C97.8569 26.9181 97.9181 26.8569 97.9564 26.7816C98 26.696 98 26.584 98 26.36V19.64C98 19.416 98 19.304 98.0436 19.2184C98.0819 19.1431 98.1431 19.0819 98.2184 19.0436C98.304 19 98.416 19 98.64 19H101.36C101.584 19 101.696 19 101.782 19.0436C101.857 19.0819 101.918 19.1431 101.956 19.2184C102 19.304 102 19.416 102 19.64V30.36C102 30.584 102 30.696 101.956 30.7816C101.918 30.8569 101.857 30.9181 101.782 30.9564C101.696 31 101.584 31 101.36 31H90.64Z' fill='%23DD5639'/%3E%3C/svg%3E%0A");
  }
  .p01-cta setting::after { 
    background: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.7 28C23.8657 28 24 28.1343 24 28.3V31.7C24 31.8657 23.8657 32 23.7 32H22.3C22.1343 32 22 31.8657 22 31.7V30.3C22 30.1343 21.8657 30 21.7 30H20.3C20.1343 30 20 29.8657 20 29.7V28.3C20 28.1343 19.8657 28 19.7 28H18.3C18.1343 28 18 27.8657 18 27.7V26.3C18 26.1343 18.1343 26 18.3 26H21.7C21.8657 26 22 26.1343 22 26.3V27.7C22 27.8657 22.1343 28 22.3 28H23.7Z' fill='%23555048'/%3E%3Cpath d='M32 27.7C32 27.8657 31.8657 28 31.7 28H30.3C30.1343 28 30 28.1343 30 28.3V29.7C30 29.8657 29.8657 30 29.7 30H28.3C28.1343 30 28 30.1343 28 30.3V31.7C28 31.8657 27.8657 32 27.7 32H26.3C26.1343 32 26 31.8657 26 31.7V28.3C26 28.1343 26.1343 28 26.3 28H27.7C27.8657 28 28 27.8657 28 27.7V26.3C28 26.1343 28.1343 26 28.3 26H31.7C31.8657 26 32 26.1343 32 26.3V27.7Z' fill='%23555048'/%3E%3Cpath d='M24 21.7C24 21.8657 23.8657 22 23.7 22H22.3C22.1343 22 22 22.1343 22 22.3V23.7C22 23.8657 21.8657 24 21.7 24H18.3C18.1343 24 18 23.8657 18 23.7V22.3C18 22.1343 18.1343 22 18.3 22H19.7C19.8657 22 20 21.8657 20 21.7V20.3C20 20.1343 20.1343 20 20.3 20H21.7C21.8657 20 22 19.8657 22 19.7V18.3C22 18.1343 22.1343 18 22.3 18H23.7C23.8657 18 24 18.1343 24 18.3V21.7Z' fill='%23555048'/%3E%3Cpath d='M28 19.7C28 19.8657 28.1343 20 28.3 20H29.7C29.8657 20 30 20.1343 30 20.3V21.7C30 21.8657 30.1343 22 30.3 22H31.7C31.8657 22 32 22.1343 32 22.3V23.7C32 23.8657 31.8657 24 31.7 24H28.3C28.1343 24 28 23.8657 28 23.7V22.3C28 22.1343 27.8657 22 27.7 22H26.3C26.1343 22 26 21.8657 26 21.7V18.3C26 18.1343 26.1343 18 26.3 18H27.7C27.8657 18 28 18.1343 28 18.3V19.7Z' fill='%23F5E8D1'/%3E%3C/svg%3E%0A");
  }
  .p01-cta upload::after { 
    background: url("data:image/svg+xml,%3Csvg width='90' height='50' viewBox='0 0 90 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.3 24C29.1343 24 29 23.8657 29 23.7V22.3C29 22.1343 29.1343 22 29.3 22H30.7C30.8657 22 31 21.8657 31 21.7V18.3C31 18.1343 31.1343 18 31.3 18H34.7C34.8657 18 35 18.1343 35 18.3V19.7C35 19.8657 34.8657 20 34.7 20H33.3C33.1343 20 33 20.1343 33 20.3V23.7C33 23.8657 32.8657 24 32.7 24H29.3Z' fill='%23DD5639'/%3E%3Cpath d='M37.3 24C37.1343 24 37 23.8657 37 23.7V18.3C37 18.1343 37.1343 18 37.3 18H42.7C42.8657 18 43 18.1343 43 18.3V19.7C43 19.8657 42.8657 20 42.7 20H41.3C41.1343 20 41 20.1343 41 20.3V21.7C41 21.8657 41.1343 22 41.3 22H42.7C42.8657 22 43 22.1343 43 22.3V23.7C43 23.8657 42.8657 24 42.7 24H37.3Z' fill='%23DD5639'/%3E%3Cpath d='M45.3 24C45.1343 24 45 23.8657 45 23.7V18.3C45 18.1343 45.1343 18 45.3 18H46.7C46.8657 18 47 18.1343 47 18.3V21.7C47 21.8657 47.1343 22 47.3 22H50.7C50.8657 22 51 22.1343 51 22.3V23.7C51 23.8657 50.8657 24 50.7 24H45.3Z' fill='%23DD5639'/%3E%3Cpath d='M29.3 32C29.1343 32 29 31.8657 29 31.7V26.3C29 26.1343 29.1343 26 29.3 26H34.7C34.8657 26 35 26.1343 35 26.3V27.7C35 27.8657 34.8657 28 34.7 28H33.3C33.1343 28 33 28.1343 33 28.3V29.7C33 29.8657 33.1343 30 33.3 30H34.7C34.8657 30 35 30.1343 35 30.3V31.7C35 31.8657 34.8657 32 34.7 32H29.3Z' fill='%23F5E8D1'/%3E%3Cpath d='M37.3 32C37.1343 32 37 31.8657 37 31.7V26.3C37 26.1343 37.1343 26 37.3 26H42.7C42.8657 26 43 26.1343 43 26.3V27.7C43 27.8657 42.8657 28 42.7 28H39.3C39.1343 28 39 28.1343 39 28.3V29.7C39 29.8657 39.1343 30 39.3 30H42.7C42.8657 30 43 30.1343 43 30.3V31.7C43 31.8657 42.8657 32 42.7 32H37.3Z' fill='%23F5E8D1'/%3E%3Cpath d='M47.3 32C47.1343 32 47 31.8657 47 31.7V28.3C47 28.1343 46.8657 28 46.7 28H45.3C45.1343 28 45 27.8657 45 27.7V26.3C45 26.1343 45.1343 26 45.3 26H50.7C50.8657 26 51 26.1343 51 26.3V27.7C51 27.8657 50.8657 28 50.7 28H49.3C49.1343 28 49 28.1343 49 28.3V31.7C49 31.8657 48.8657 32 48.7 32H47.3Z' fill='%23F5E8D1'/%3E%3Cpath d='M55 19.7C55 19.8657 55.1343 20 55.3 20H56.7C56.8657 20 57 20.1343 57 20.3V21.7C57 21.8657 57.1343 22 57.3 22H58.7C58.8657 22 59 22.1343 59 22.3V23.7C59 23.8657 59.1343 24 59.3 24H60.7C60.8657 24 61 24.1343 61 24.3V25.7C61 25.8657 60.8657 26 60.7 26H59.3C59.1343 26 59 26.1343 59 26.3V27.7C59 27.8657 58.8657 28 58.7 28H57.3C57.1343 28 57 28.1343 57 28.3V29.7C57 29.8657 56.8657 30 56.7 30H55.3C55.1343 30 55 30.1343 55 30.3V31.7C55 31.8657 54.8657 32 54.7 32H53.3C53.1343 32 53 31.8657 53 31.7V18.3C53 18.1343 53.1343 18 53.3 18H54.7C54.8657 18 55 18.1343 55 18.3V19.7Z' fill='%23F5E8D1'/%3E%3C/svg%3E%0A");
  }
  .p01-cta > :is(logo, setting, vertical, upload)::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@layer page-2 {
  .page02 {
    display: grid;    
    padding :8px;
    grid-template-rows: 200px calc((100vw + 34px) / 2) 1fr;
  }
  /* layer display */
  .page02 display {
    display: grid; 
  }
  /* layer gamepad */
  .page02 gamepad {
    gap: 1px;
    display: grid;
    grid-template-columns: calc(100vw / 10 + 6px) 1fr 1fr calc(100vw / 10 + 6px) 20px calc(100vw / 10 + 6px) 1fr 1fr calc(100vw / 10 + 6px);
    grid-template-rows: 26px 8px 1fr 1fr 26px;
  }

.page02 gamepad 
state-button    {grid-area: state-button;    grid-row: 1 / 1; grid-column: 1 / 1}
l-button        {grid-area: l-button;        grid-row: 1 / 1; grid-column: 2 / 5}
r-button        {grid-area: r-button;        grid-row: 1 / 1; grid-column: 6 / 9}
menu-button     {grid-area: menu-button;     grid-row: 1 / 1; grid-column: 9 / 10}
dpad-section    {grid-area: dpad-section;    grid-row: 3 / 6; grid-column: 1 / 5}
a-button        {grid-area: a-button;        grid-row: 3 / 3; grid-column: 6 / 10}
b-button        {grid-area: b-button;        grid-row: 4 / 4; grid-column: 6 / 9}
f-button        {grid-area: f-button;        grid-row: 4 / 4; grid-column: 9 / 10}
select-button   {grid-area: select-button;   grid-row: 5 / 5; grid-column: 6 / 8}
start-button    {grid-area: start-button;    grid-row: 5 / 5; grid-column: 8 / 10}
}
@layer page-3 {
  
}